<div class="container-fluid">
{% assign dashboard = 'dashboard-' | append: current_user.user_type %}
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard - {{current_user.user_type}}</h1>
                    </div>

{% include dashboard %}
</div>